/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public_html
/resources/pages
/app/Http/Controllers/AnasayfaController.php
/app/Http/Controllers/ConstantController.php
/app/Http/Controllers/Yonetim/*.php
/app/Http/Models/*.php
